<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width" />
	<title>test</title>
</head>
<body>
<div class="container">
    <div class="content">
		<div class="outside">
			<iframe
					id="ifr"
					class="ifr"
					src="/static/show.html"></iframe>
		</div>
	</div>
    <ul class="ui-list">
        <li>
	        <img
		        class="ui-img"
		        src="../src/assets/img/header.png">
	        <div class="ui-introduct">
		        组件介绍：头部导航组件
	        </div>
	        <p>&nbsp;&nbsp;var props = </p>
	        <textarea
		        id="ui-config-com1"
		        class="ui-config">
{
	bgColor: 'blue',
	title: '首页',
	backWord: '返回',
	backIcon: true,
	backTo () {
		// todo
	}
};
	        </textarea>
	        <div id="com1" class="ui-insertbtn">插入</div>
        </li>
		<li id="com2">2</li>
		<li id="com3">3</li>
		<li id="com4">4</li>
    </ul>
</div>
</body>
</html>